doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/delete.js')
    script(src="/javascripts/jquery.modal.min.js")
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body
    block content
